
$premium: (
    border-premium: 20px,
    box-premium: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    background-premium: rgba(0, 0, 195, 0.774),
);
//aplicado a botones de menú


$standard: (
    padding-standard: 1%,
    border-standard: 10px,
    background-standard: white,
    font-standard: 15px,
    weight-standard: 700,
);
//aplicado a boton de formulario